<footer class="page-footer font-small pt-4" id="bg-footer">
  <div class="container">
    <div class="col-md-12 d-flex justify-content-center">
      <h4 class="text-white">Conecte-se com a Dinísia</h4>
    </div>
  </div>
  <div class=row>

    <div class="col-md-12 d-flex justify-content-center">
      <ul class="socialmedia">
        <li>
          <a href="https://www.instagram.com/dinisialtda/" target="_blank" class="icoInstagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>

        <li>
          <a href="" target="_blank" class="icoFacebook">
            <i class="fa-brands fa-facebook-square"></i>
          </a>
        </li>

        <li>
          <a href="" target="_blank" class="icoWhatsapp">
            <i class="fa-brands fa-whatsapp-square"></i>
          </a>
        </li>

      </ul>


    </div>
  </div>

  <div class="footer-copyright  text-center py-3" id="bg-footer2">
    <span class="text-light"> © 2022 Copyright :</span>
    <a class="text-light" target='_blank'> dinisialtda.com.br</a>


  </div>

</footer>